table.dataTable {
    margin-top: 10px !important;
}

table.dataTable tr.group td {
    background-color: #f2f2f2;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 10px 0;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 12px;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    padding: 4px 3px;
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
    padding-left: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
}

div.dt-button-collection {
    width: 240px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    padding: 2px;
    overflow-y: auto;
    max-height: 480px;
}

div.dt-button-collection button.buttons-columnVisibility {
    margin-top: 2px;
    background-image: none;
    background-color: #eef2f6;
    margin: 0px;
    border-color: #6992b0;
}

div.dt-button-collection button.buttons-columnVisibility:hover {
    background-image: none;
    background-color: #d3d9de;
}

div.dt-button-collection button.buttons-columnVisibility:active:not(.disabled), 
div.dt-button-collection button.buttons-columnVisibility.active:not(.disabled) {
    background-image: none;
    background-color: #bccfdc;
    box-shadow: inset 1px 1px 3px #d3d9de;
    font-weight: 500;
}

button.buttons-columnVisibility:active:not(.disabled):hover:not(.disabled), 
button.buttons-columnVisibility.active:not(.disabled):hover:not(.disabled) {
    background-image: none;
    background-color: #d3d9de;
}

button.dt-button, div.dt-button, a.dt-button {
    font-size: 0.95em;
}