@CHARSET "UTF-8";

.easter-background {
    background: url("../../../resources/vendor/easter_background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* Banner Logo */

.banner-logo {
    background:#fff;
    border: 2px solid #7e2020;
}

/* Top Toolbar */

.navbar-brand, .navbar-nav>li>a {
    line-height: inherit;
    padding: 8px;
}

.nav.toggle {
    padding-top: 5px;
}

.info-number .badge {
    line-height: inherit;
    padding: 1px 4px;
    top: 0px;
    font-size: 9px;
}

.app-param-setting {
    padding: 3px 20px;
    margin-bottom: 0px;
}

ul.msg_list li a.mark-as-read {
    font-size: 10px;
    text-align: right;
    right: 25px;
    color: #3399ff;
}

ul.msg_list li a.mark-as-read:hover {
    text-decoration: underline;
}

/* Breadcrumbs */

.breadcrumb {
    padding: 0px;
    background: transparent;
    margin: 13px 0 12px 0;
}

/*  Smart Wizard */

.stepTitle {
    font-size:  15px;
    font-weight: bold;
    color: #36486b;
}

.wizard_verticle ul.wizard_steps {
    width: 8%;
    margin: 0 0 5px;
}

.wizard_verticle .stepContainer {
    width: 92%;
    float: left;
    margin-bottom: 2%;
    border: 1px solid #f2f2f2;
    overflow-y: hidden;
}

.stepContainer.content {
    width: 95%;
    border: 0px;
}

.actionBar {
    width: 100%;
    text-align: right;
    border: 0px;
}

/* X_Panel */

.x_title h2 {
    font-size:16px; 
    font-weight:600;
    color: dimgrey;
}

/* Side Menu */
.nav.side-menu>div>li>a, .nav.child_menu>div>li>a {
    color: #E7E7E7;
    font-weight: 600;
    font-size: 110%;
}

.nav.side-menu>div>li>a {
    margin-bottom: 6px;
}

.nav>div>li>a {
    position: relative;
    display: block;
    padding: 13px 15px 12px;
}

.text-active {
    font-weight: 500;
    color: #1ABB9C;
}

/* Breadcrumbs */

.breadcrumb {
    padding: 0px;
    background: transparent;
    margin: 5px 0 10px 0;
}

.breadcrumb>li+li:before {
    padding: 0 2px;
}